/*reset*/
*{
    margin: 0;
    padding: 0;
}
ul,
ol,
li{
    list-style: none;
}
img{
    border: none;
    outline: medium none;
    max-width: 100%;
    height: auto;
}
.clear{
    clear: both;
}
a,
a:link,
a:active,
a:visited,
a:focus{
    outline: none;
    text-decoration: none;
    outline: medium none;
    color: #3097d1;
}
a:hover{
    color: #005e98;
}
input[type="text"],
input[type="password"],
select option,
textarea{
    outline: medium none;
}
select option {
    padding: 5px 0;
    text-indent: 5px;
}
html,
body{
    min-height:100%;
    font-family: Arial,Helvetica,sans-serif;
    background: #fdfdfd;
    overflow-x: hidden;
}
#header,
#content,
#footer{
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.box-front {
    text-align: Center;
    margin-top: 100px;
    width: 100%;
}
.main-text-front{
    font-size: 70px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #666;
    -webkit-text-fill-color: #fff;
    font-family: impact, sans-serif
}
.login-facebook {
    width: 180px;
    height: 34px;
    display: inline-block;
    font-size: 100%;
    vertical-align: top;
    border-radius: 2px;
    overflow: hidden;
    cursor:pointer;
    background: #4c69ba;
    color:#fff;
    border:none;
    font-size:15px;
}
.login-facebook:hover,
.login-google:hover{
    opacity:0.8;
}
/*Kich hoat fanpage*/
.container{
    width: 99%;
}
.navbar-default {
    background: #506dad;
}
.navbar-fixed-top {
    top: 0;
    border: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-header {
    display: inline-block;
    width: 100%;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #fff;
    font-style: italic;
}
.navbar-brand {
    float: left;
    padding: 10px 15px 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    height: 55px;
}
.nav > li, .nav > li > a {
    position: relative;
    display: block;
}
.navbar-nav > li {
    height: 54px;
    margin: 0 1px 0 0;
}
.nav > li, .nav > li > a {
    position: relative;
    display: block;
}
li.avatar-navbar a {
    padding-top: 10px !important;
    height: 55px;
}
.navbar-nav > li > a {
    padding: 10px 12px 11px;
    line-height: 34px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff!important;
}
li.avatar-navbar .line-user span {
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    max-width: 210px;
    display: inline-block;
    vertical-align: top;
}
.fontsize20{
    font-size: 20px!important;
}
.member-cpanel {
    display: none;
    width: 250px;
    background: #ddd;
    padding: 5px 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    top: 55px;
    right: 0;
}
.custom-dropdown-menu:hover .member-cpanel{
    display:inline-block!important;
}
.line-user img{
    border-radius: 100%;
    height:35px;
    widht:35px;
}
.content-chat{
    margin-top: 155px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.panel-page{
    background: #fff;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 70%;
    margin: 100px auto;
    padding: 20px 30px;
}
.clickActionPage {
    text-align: center;
}
.line-page{
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}
.zindex99999{
    z-index: 99999;
}
.list-popup{
    position: fixed;
    width: 100%;
    top:0px;
    left:0px;
}
.modal-dialog {
    background: #fff;
}
.modal-header {
    padding: 8px;
}
.modal-title {
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: bold;
}
.btn-close{
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: #555;
    cursor: pointer;
    opacity: 0.8
}
.btn-close:hover{
    opacity:1;
}
.modal-content{
    border-radius: 0px;
    box-shadow: none;
    border:none;
    padding: 8px;
}
.modal-footer {
    padding: 8px;
}
.content-popup-show{
    opacity: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
}
.item-fanpage-page{
    display: inline-block;
    border: 2px solid rgb(238, 238, 238);
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}
.item-fanpage-page.act{
    border: 2px solid rgb(68, 167, 98);
}
.item-fanpage-page img{
    border-radius: 5px;
    height: 80px;
    width: 80px;
}
.box-spc{
    color: #de343b;
    font-weight: 400;
    padding: 2px 8px;
    border: 1px solid #bc8f8f;
    border-radius: 2px;
    background: #fffaf0;
}
.modal-footer-wp {
    width: 100%;
    display: inline-block;
    float: left;
    line-height: 14px;
}
.first-message{
    position: relative;
    top:4px;
}
.actPageClick{
    max-width: 35%;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    text-overflow: ellipsis;
    font-size: 12px;
    position: relative;
    top: 2px;
    display:none;
    vertical-align: top;
}
.actPageClick.act{
    display: inline-block;
}
.list-page-active{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom:20px;
    display: inline-block;
    width: 100%;
}
.list-page-active .item {
    padding: 5px 0 5px 5px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    display:inline-block;
    width: 100%;
}
.list-page-active .item .thumb{
    display:inline-block;
    width:20%;
    float:left;
    overflow: hidden;
}
.list-page-active .item .thumb img{
    width:100%;
}
.item-content-intro {
    vertical-align: top;
    width: 70%;
    display: inline-block;
    float: left;
    margin-left: 8%
}
.name-page-active {
    font-weight: 500;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}
.link-page-active {
    font-size: 12px;
    clear: both;
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.red{
    color:#ff0000;
    font-style:italic;
}
.btnPageAcitve{
    opacity:0.5;
}
.btnPageAcitve.act{
    opacity:1;
}
.avatar-navbar:hover {
    background: #364c7d;
}
.list-page-item {
    padding: 5px 5px;
    border-bottom: 1px solid #eee;
    margin-bottom:10px;
}
.option-item{
    width: 100%;
    clear: both;
    display: inline-block;
    padding: 5px 5px;
}
.option-item:hover{
    background: #d8d8d8;
}
.option-item-thumb{
    width:12%;
    display: inline-block;
    float:left;
}
.option-item-name{
    width:80%;
    display: inline-block;
    float:left;
    margin-left:3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
}
.option-item-thumb img{
    width: 100%;
    border-radius:2px;
}
.navbar-option{
    clear:both;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}
.navbar-option:hover{
    background: #d8d8d8;
}
/*chat window*/
.panel-page-chat{
    width: 100%;
    padding: 55px 0px;
}
.sidebar {
    z-index: 10;
    position: fixed;
    width: 60px;
    height: 100%;
    background: #52647a;
}
.sidebar-nav li {
    color: #97a2af;
    padding:5px 2px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}
.sidebar-nav li:hover, .sidebar-nav .act {
    text-decoration: none;
    color: #fff;
    background: #343f4d;
}
.sidebar-nav span {
    font-size: 11px;
    line-height: 18px;
    display: inline-block;
    clear: both;
    width: 100% !important;
}

.box-chat {
    width: 100%;
    padding-left: 60px;;
    margin-top: 0px;
    position: fixed;
    height: 100%;
}
.box-conversation {
    width: 25%;
    display: inline-block;
    float: left;
    height: 89.5%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.item-conversation {
    width: 100%;
    display: inline-block;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
    float: left;
}
.item-conversation:hover,
.item-conversation.act{
    background: #e3f2fd;
}
.item-conversation-thumb {
    width: 20%;
    display: inline-block;
    float:left;
}
.item-conversation-thumb img{
    border-radius: 3px;
    width: 100%;
}
.item-conversation-intro{
    width: 75%;
    display: inline-block;
    float:left;
    margin-left:2%;
}
.item-conversation-intro p {
    margin: 0 0 0px;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.item-conversation-intro p .fa-envelope{
    font-size: 15px;
    margin: 0px;
    color: #555;
}
.item-conversation-intro .item-message-inbox {
    position: absolute;
    right: 0;
}
.item-conversation-intro .item-name,
.inline-box-chat-info-intro .item-name{
    color: #555;
    font-size:12px;
    font-weight: bold;
}
.item-conversation-intro .item-date-last,
.inline-box-chat-info-intro .item-date-last{
    color: #555;
    font-style: italic;
    font-size: 11px !important;
}
.messages-conversation {
    width: 40%;
    display: inline-block;
    float: left;
    height: 89.5%;
    overflow: hidden;
    background: #e5ded8;
    position: relative;
}
.inline-box-chat-info{
    display: inline-block;
    width: 100%;
    padding: 8px;
    background: #eee;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #e5ded8;
}
.inline-box-chat-info-thumb{
    width: 40px;
    height:40px;
    display: inline-block;
    float: left;
}
.inline-box-chat-info-thumb img{
    width: 100%;
    border-radius: 3px;
}
.inline-box-chat-info-intro{
    width: 75%;
    display: inline-block;
    float:left;
    margin-left:2%;
}
.inline-box-chat-info-intro p{
    margin: 0 0 5px;
}
.inline-box-chat-messages{
    display: inline-block;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    position:relative;
}
.item-inline-box-chat-messages{
    margin-bottom: 8px;
    width:100%;
    clear:both;
    display: inline-block;
    position: relative;
}
.item-thumb-chat{
    width: 8%;
}
.item-thumb-chat img{
    width:100%;
    border-radius: 100%;
}
.item-intro-chat{
    background: #dcf8c6;
    text-align: left;
    position: relative;
    padding: 5px 11px;
    border-radius: 7.5px;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
    max-width: 65%;
    min-height: 30px;
}
.item-intro-send{
    max-width: 15%;
    display: inline-block;
    vertical-align: bottom;
    font-size: 11px;
    color: #888;
    transition: opacity .4s linear;
    opacity: 0;
}
.item-inline-box-chat-messages:hover .item-intro-send{
    opacity: 1;
}
.right .item-thumb-chat{
    float:right;
}
.right .item-intro-chat{
    float: right;
    margin-right: 5px;
}
.right .item-intro-send{
    float: right;
    margin-right: 5px;
}
.right .item-intro-chat::before {
    position: absolute;
    top: 12px;
    right: -5px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #dcf8c6;
}
.left .item-thumb-chat{
    float:left;
    margin-right:5px;
}
.left .item-intro-chat{
    float: left;
    margin-left: 5px;
    background: #fff;
    min-height: 35px;
}
.left .item-intro-chat::before{
    position: absolute;
    top: 12px;
    left: -8px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #fff;
}
.left .item-intro-send{
    float: left;
    margin-left: 5px;
}
.box-send-input-messages {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-block;
    padding: 8px 2px;
    left: 0;
}
.box-send-input-messages textarea{
    width: 99%;
    resize: none;
    outline: medium none;
    height: 65px;
    margin: 2px;
    border-color: #888;
    border-radius: 2px;
    padding: 2px 5px;
}
.box-send-input-messages .note-mess{
    display: inline-block;
    font-size: 12px;
    width: 100%;
}
.box-send-input-messages .note-mess .note-sc{
    background: #4eb76e;
    color: #fff;
    border-radius: 2px;
    padding: 2px 5px;
}
.box-send-input-messages .note-mess i{
    color: #555;
}
.fnc-tab {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 0px;
}
.fnc-tab li {
    display: inline-block;
    float: left;
    line-height: 55px;
    padding: 0 25px;
    height: 55px;
}
.fnc-tab li.act{
    background: #425f9f;
}
.fnc-tab li a{
    color: #fff;
}
.custom-drop-note{
    top: 3px;
    position: relative;
}
.box-info-order{
    width: 35%;
    display: inline-block;
    float: left;
    height: 89.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ddd;
    border-left: 1px solid #d0d0d0;
}
.tab-info-order {
    border-bottom: 1px solid #fff;
    height: 60px;
    line-height: 59px;
    margin-bottom:10px;
}
.tab-info-order ul{
    margin-bottom: 0px;
}
.tab-info-order li {
    display: inline-block;
    float: left;
    cursor: pointer;
    padding: 0 25px;
    font-weight: bold;
    font-style: italic;
    color: #555;
}
.tab-info-order li.act{
    background: #4eb76e;
    color:#fff;
}
.box-info-order-input{
    clear:both;
    display: inline-block;
    width: 100%;
}
.txt-input{
    margin-bottom:5px;
}
.files-upload-send {
    display: inline-block;
    float: right;
    position: relative;
    top: -18px;
    margin-right: 5px;
}
.box-info-order .form-control{
    background: #f8f8f8;
}
.not-item {
    font-style: italic;
    margin-top: 15px;
    text-align: center;
}
.item-intro-send ._date {
    white-space: nowrap;
}
.loading {
    background: #e5ded8 url("../img/loading.gif") no-repeat scroll center center;
    display: none;
    height: 100%;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 2;
    opacity: .4;
}